{% extends "../../layouts/base.html" %} {% block contents %}
<div class="container top-level">
    <form class="col-md-12 col-sm-12" id="create_request_form">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="card shadow card-rounded mt-4">
                    <div class="card-body">
                        <h4 class="card-title">
                            Basic Information
                        </h4>
                        <div class="form-group">
                            <label for="name" class="bmd-label-floating">Name</label>
                            <input type="text" class="form-control" v-bind:class="{'is-invalid':errors.name}" id="name" name="name" v-model="name" required>
                            <div class="invalid-feedback" v-if="errors.name">
                                {% verbatim %}{{errors.name[0]}}{% endverbatim %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="bmd-label-floating">Description</label>
                            <textarea class="form-control" id="description" v-bind:class="{'is-invalid':errors.description}" name="description" rows="6" v-model="description" required></textarea>
                            <div class="invalid-feedback" v-if="errors.description">
                                {% verbatim %}{{errors.description[0]}}{% endverbatim %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="url" class="bmd-label-floating">Link</label>
                            <input type="text" class="form-control" v-bind:class="{'is-invalid':errors.url}" name="url" id="url" v-model="url" />
                            <div class="invalid-feedback" v-if="errors.url">
                                {% verbatim %}{{errors.url[0]}}{% endverbatim %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label for="valid_until">Valid Until</label>
                    <input type="date" class="form-control" id="valid_until" placeholder="dd/mm/YYYY" />
                    <small>Request valid until</small>
                </div> -->
                <div class="card shadow card-rounded mt-4">
                    <div class="card-body">
                        <h4 class="card-title">
                            Requirement
                        </h4>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="min_price" class="bmd-label-floating">Min Price</label>
                                    <input type="number" class="form-control" v-bind:class="{'is-invalid':errors.min_price}" id="min_price" name="min_price" v-model="min_price" />
                                    <div class="invalid-feedback" v-if="errors.min_price">
                                        {% verbatim %}{{errors.min_price[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="max_price" class="bmd-label-floating">Max Price</label>
                                    <input type="number" class="form-control" v-bind:class="{'is-invalid':errors.max_price}" id="max_price" name="max_price" v-model="max_price" required />
                                    <div class="invalid-feedback" v-if="errors.max_price">
                                        {% verbatim %}{{errors.max_price[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="quantity" class="bmd-label-floating">Quantity</label>
                                    <input type="number" class="form-control" v-bind:class="{'is-invalid':errors.quantity}" id="quantity" name="quantity" v-model="quantity" />
                                    <div class="invalid-feedback" v-if="errors.quantity">
                                        {% verbatim %}{{errors.quantity[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group" class="bmd-label-floating">
                                    <label for="unit_of_measurement">Unit of Measurement</label>
                                    <input type="text" class="form-control" v-bind:class="{'is-invalid':errors.unit_of_measurement}" id="unit_of_measurement" name="unit_of_measurement" v-model="unit_of_measurement" />
                                    <div class="invalid-feedback" v-if="errors.unit_of_measurement">
                                        {% verbatim %}{{errors.unit_of_measurement[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="start_from">Start From</label>
                                    <input type="date" class="form-control" v-bind:class="{'is-invalid':errors.start_from}" id="start_from" name="start_from" v-model="start_from" />
                                    <div class="invalid-feedback" v-if="errors.start_from">
                                        {% verbatim %}{{errors.start_from[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="contract_type" class="bmd-label-floating">Contract Type</label>
                                    <select class="form-control"  v-bind:class="{'is-invalid':errors.contract_type}" id="contract_type" name="contract_type" v-model="contract_type" required>
                                        {% for contract in contracts %}
                                        <option value="{{contract.id}}" {% if contract.id == 1 %} selected {% endif %}>{{contract.contract_type}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback" v-if="errors.contract_type">
                                        {% verbatim %}{{errors.contract_type[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="service_coverage" class="bmd-label-floating">Area of Service</label>
                            <input type="text" class="form-control" v-bind:class="{'is-invalid':errors.service_coverage}" id="service_coverage" name="service_coverage" v-model="service_coverage" />
                            <div class="invalid-feedback" v-if="errors.service_coverage">
                                {% verbatim %}{{errors.service_coverage[0]}}{% endverbatim %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="additional_requirements" class="bmd-label-floating">Additional Requests</label>
                            <textarea class="form-control" id="additional_requirements"  v-bind:class="{'is-invalid':errors.additional_requirements}" rows="5" name="additional_requirements" v-model="additional_requirements"></textarea>
                            <div class="invalid-feedback" v-if="errors.additional_requirements">
                                {% verbatim %}{{errors.additional_requirements[0]}}{% endverbatim %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="card shadow card-rounded mt-4">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="category" class="bmd-label-floating">Category</label>
                            <input type="text" class="form-control" id="category" name="category" v-model="category"/>
                            <small>Add categories specific to your request</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-3 mb-3">
                <button class="btn btn-primary right-btn" @click="submitForm($event)"/>Submit</button>
                <a href="/" class="btn btn-light right-btn" data-dismiss="modal">Close</a>
            </div>
        </div>
        <template>
            <div class="loading-parent">
                <loading :active.sync="isLoading" 
                    :can-cancel="false" 
                    :is-full-page="true">
                </loading>
            </div>
        </template>
    </form>
</div>
{% endblock %}
{% block javascript%}
<script src="{% load static %}{% static 'scripts/dist/create.request.js' %}"></script> {% endblock %}