{% extends "../../layouts/base.html" %} {% block contents %}
<div class="container-thin-xs">
    <div class="row mt-1" id="project-list">
        <div class="col-lg-4 col-sm-12 v-scrollable">
            <div class="container-thin">
                {% for i in projects %}
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card shadow card-rounded  mb-1 mt-1 ">
                            <a href="#lookup" class="card-link" v-on:click="lookup({{i.id}})" data-id="{{i.id}}">
                                <div class="card-body">

                                    <h5 class="card-title">
                                        <strong>{{i.name}}</strong>
                                    </h5>
                                    <p class="card-subtitle mb-3 text-muted pt-1">
                                        <small>{% load humanize %} {{i.created_at | naturaltime}}</small>
                                    </p>

                                    <!-- <h6 class="card-subtitle mb-2 text-muted">
                                                            <span class="badge badge-pill badge-dark blue-badge">Fitness</span>
                                                        </h6> -->
                                    <div class="row">
                                        <div class="col col-md-6 col-sm-6 col-lg-6">
                                            <h6 class="card-text"><i class="fas fa-dollar-sign"></i> Budget</h6>
                                            <p class="text-blue">
                                                {% if i.min_price != None %}${{i.min_price}} - {% endif %}${{i.max_price}}
                                            </p>
                                        </div>
                                        <div class="col col-md-6 col-sm-6 col-lg-6">
                                            <h6 class="card-text"><i class="fas fa-check-circle"></i> Status</h6>
                                            <p>
                                                {% comment %} project status {% endcomment %}
                                                {% if i.close_at == None %}
                                                <span class="text-green">Open</span> 
                                                {% else %}
                                                <span class="text-danger">Closed</span> 
                                                {% endif %}

                                                <small>&#x25cf;</small> 
                                                <span class="text-muted">
                                                    {{i.offer_set.count}} offers
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="card-footer blue-footer">
                                <a href="/request/{{i.id}}/edit" class="card-link blue-footer">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 blue-footer-text">
                                            <span><i class="far fa-edit"></i>
                                                Update</span>
                                        </div>
                                        <!-- <div class="col-md-6 col-sm-6 col">
                                                                <span class="btn btn-secondary righter">5 offers</span>
                                                            </div> -->
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="col-lg-8 d-none d-lg-block" style="max-height: calc(100vh - 4rem);">

            {% include "./appends/lookup.html" %} {% block lookup %} {% endblock %}

        </div>
        <template>
            <div class="loading-parent">
                <loading :active.sync="isLoading" 
                    :can-cancel="false" 
                    :is-full-page="true">
                </loading>
            </div>
        </template>
    </div>
</div>

{% endblock %}
{% block javascript %}
{% if error != None %}
<script>
    swal({
        icon:'error',
        title:'Not Permitted',
        text:'{{error.message}}'
    })
</script>
{% endif %}
<script src="{% load static %}{% static 'scripts/dist/project_list.js' %}"></script> {% endblock %}