{% extends "../../layouts/base.html" %} {% block contents %}
<div class="container top-level">
    <div class="row">
        <div class="col-md-7 col-lg-8 col-sm-12">
            <div class="card shadow mt-3 card-rounded">
                <div class="card-body">
                    <h3>{{project.name}}</h3>
                    <p class="card-subtitle mb-3 pt-1 pb-1 text-muted">
                        <small>{{project.location}} &#x25cf; {% load humanize %} {{project.created_at | naturaltime}}</small>
                    </p>
                    <h6 class="card-subtitle mb-3 text-muted pt-1 pb-1">
                        <span class="badge badge-pill badge-dark blue-badge">Fitness</span>
                    </h6>
                    <span>
                        {% if offer == None %}
                        {% if project.close_at == None %}
                        <a href="#create-offer" data-toggle="modal" class="btn d-inline  btn-primary mr-3">Submit Offer</a>
                        {% else %}
                        <span class="text-danger"><strong>Request Closed</strong></span>
                        {% endif %}
                        {% else %}
                        <a href="/offer/{{offer.id}}/view" class="btn d-inline  btn-primary mr-3">View Offer</a>
                        {% endif %}
                        <a href="#" class="btn btn-light d-inline">Send Message</a>
                    </span>
                </div>
            </div>
            <div class="card shadow mt-3 card-rounded">
                <div class="card-body">
                    <h4>Description</h4>
                    <p>{{project.description|linebreaks}}</p>
                </div>
            </div>
            <div class="card shadow mt-3 card-rounded">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <p>
                                <strong>
                                    <i class="fas fa-dollar-sign"></i> Min Price
                                </strong>
                            </p>
                            <p>{% if project.min_price != None %}${% endif %}{{project.min_price}}</p>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <p>
                                <strong>
                                    <i class="fas fa-dollar-sign"></i> Max Price
                                </strong>
                            </p>
                            <p>${{project.max_price}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <p>
                                <strong>
                                    <i class="fas fa-tachometer-alt"></i> Quantity
                                </strong>
                            </p>
                            <p>{{project.quantity}} {{project.unit_of_measurement}}</p>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <p>
                                <strong>
                                    <i class="fas fa-location-arrow"></i> Area of Service
                                </strong>
                            </p>
                            <p>{{project.service_coverage}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <p>
                                <strong>
                                    <i class="far fa-clock"></i> Valid Until
                                </strong>
                            </p>
                            <p>{{project.valid_until}}</p>
                        </div>
                        <div class="col-md-6 col-lg-6 col-sm-6">
                            <p>
                                <strong>
                                    <i class="fas fa-file-contract"></i> Contract Type
                                </strong>
                            </p>
                            <p>{{project.contract.contract_type}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mt-3 mb-3 card-rounded">
                <div class="card-body">
                    <h4>Additional Requirements</h4>
                    <p>{{project.additional_requirements|linebreaks}}</p>
                </div>
            </div>
        </div>

        <div class="col-md-5 col-lg-4 col-sm-12">
            <div class="card shadow mt-3 card-rounded">
                <div class="card-body">
                    <h4>
                        <img src="{{project.icon_filepath}}" class="rounded-image-lg" />
                    </h4>
                    <div class="row">
                        <div class="container">
                            <h4 class="card-title">
                                Two Mates Media
                            </h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <p>
                                <i class="fas fa-envelope"></i> hello@twomatesmedia.com.au
                            </p>
                            <p>
                                <i class="fas fa-phone"></i> 0432 092 174
                            </p>
                            <p>
                                <i class="fas fa-link"></i> twomatesmedia.com.au
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% with requestId=project.id %}
{% include "./appends/create_offer.html" %} {% block create_offer %} {% endblock %}
{% endwith %}
{% endblock %}

{% block javascript %}
<script src="{% load static %}{% static 'scripts/dist/create.offer.js' %}"></script> 
{% endblock %}