{% extends "../../layouts/base.html" %} {% block contents %}
<div class="container top-level" id="company-create-form">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <ul class="progress-tracker progress-tracker--vertical">
                    <li class="progress-step" :class="{'is-active': step.company, 'is-complete': !step.company}" @click="changeStep('company')">
                        <span class="progress-marker"></span>
                        <span class="progress-text">
                            <h5 class="progress-title progress-text-linkable">Basic Information</h5>
                        </span>
                    </li>
                    <li class="progress-step" :class="{'is-active': step.location}" @click="changeStep('location')">
                        <span class="progress-marker"></span>
                        <span class="progress-text">
                            <h5 class="progress-title progress-text-linkable">Location</h5>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <div class="card shadow card-rounded mt-4">
                    <div class="card-body" v-if="step.company">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name" class="bmd-label-floating">Name</label>
                                    <input type="text" class="form-control" :class="{'is-invalid':errors.name}" id="name" name="name" v-model="company.name" required>
                                    <div class="invalid-feedback" v-if="errors.name">
                                        {% verbatim %}{{errors.name[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="rbn" class="bmd-label-floating">Registered Business Name</label>
                                    <input type="text" class="form-control" :class="{'is-invalid':errors.rbn}"  id="rbn" name="rbn" v-model="company.rbn" required>
                                    <div class="invalid-feedback" v-if="errors.rbn">
                                        {% verbatim %}{{errors.rbn[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="abn" class="bmd-label-floating">ABN</label>
                                    <input type="text" class="form-control" :class="{'is-invalid':errors.abn}"  id="abn" name="abn" v-model="company.abn" required>
                                    <div class="invalid-feedback" v-if="errors.abn">
                                        {% verbatim %}{{errors.abn[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone_number" class="bmd-label-floating">Phone</label>
                                    <input type="text" class="form-control" :class="{'is-invalid':errors.phone}"  id="phone_number" name="phone_number" v-model="company.phone" required>
                                    <div class="invalid-feedback" v-if="errors.phone">
                                        {% verbatim %}{{errors.phone[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email" class="bmd-label-floating">Email</label>
                                    <input type="text" class="form-control" :class="{'is-invalid':errors.email}" id="email" name="email" v-model="company.email" required>
                                    <div class="invalid-feedback" v-if="errors.email">
                                        {% verbatim %}{{errors.email[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fax" class="bmd-label-floating">Fax Number</label>
                                    <input type="text" class="form-control" :class="{'is-invalid':errors.fax}" id="fax" name="fax" v-model="company.fax" />
                                    <div class="invalid-feedback" v-if="errors.fax">
                                        {% verbatim %}{{errors.fax[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="website" class="bmd-label-floating">Website</label>
                                    <input type="text" class="form-control" :class="{'is-invalid':errors.website}" id="website" name="website" v-model="company.website" />
                                    <div class="invalid-feedback" v-if="errors.website">
                                        {% verbatim %}{{errors.website[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="company_logo" class="bmd-label-floating">Company Logo</label>
                                    <input type="file" class="form-control" :class="{'is-invalid':errors.company_logo}" id="company_logo" name="company_logo" @change="handleFileUpload" ref="file"/>
                                    <div class="invalid-feedback" v-if="errors.company_logo">
                                        {% verbatim %}{{errors.company_logo[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>  
                    <div class="card-body" v-else>
                         <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="address" class="bmd-label-floating">Address</label>
                                    <template>
                                        <vue-google-autocomplete
                                            id="map"
                                            classname="form-control"
                                            placeholder="Start typing"
                                            :country="['au']"
                                            :class="{'is-invalid':errors.address}"
                                            v-on:placechanged="getAddressData">
                                        </vue-google-autocomplete>
                                    </template>
                                    {% comment %} <input type="text" class="form-control" :class="{'is-invalid':errors.address} id="address" name="address" required> {% endcomment %}
                                    <div class="invalid-feedback" v-if="errors.address">
                                        {% verbatim %}{{errors.address[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="postcode" class="bmd-label-floating">Postcode</label>
                                    <input type="text" class="form-control" :class="{'is-invalid':errors.postcode}" id="address" name="postcode" v-model="address.postcode" required>
                                    <div class="invalid-feedback" v-if="errors.postcode">
                                        {% verbatim %}{{errors.postcode[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="suburb" class="bmd-label-floating">Suburb</label>
                                    <input type="text" class="form-control" :class="{'is-invalid':errors.suburb}" id="suburb" name="suburb" v-model="address.suburb" required>
                                    <div class="invalid-feedback" v-if="errors.suburb">
                                        {% verbatim %}{{errors.suburb[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                         </div>
                         <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="state" class="bmd-label-floating">State</label>
                                    <input type="text" class="form-control" :class="{'is-invalid':errors.state}" id="state" name="state" v-model="address.state" required>
                                    <div class="invalid-feedback" v-if="errors.state">
                                        {% verbatim %}{{errors.state[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="country" class="bmd-label-floating">Country</label>
                                    <input type="text" class="form-control" :class="{'is-invalid':errors.country}" id="country" name="country" v-model="address.country" required>
                                    <div class="invalid-feedback" v-if="errors.country">
                                        {% verbatim %}{{errors.country[0]}}{% endverbatim %}
                                    </div>
                                </div>
                            </div>
                         </div>
                    </div>    
                </div>
                <div class="row mt-3" style="float:right;">
                    <button class="btn btn-light mr-2" @click="back">Cancel</button>
                    <button class="btn btn-primary" @click="submitStep">Next</button>
                </div>
               
            </div>
        </div>
    </div>
    <template>
        <div class="loading-parent">
            <loading :active.sync="isLoading" 
                :can-cancel="false" 
                :is-full-page="true">
            </loading>
        </div>
    </template>
</div>
{% endblock %}
{% block styles %}
<link href="{% load static %}{% static 'scripts/dist/company.create.css' %}" rel="stylesheet" type="text/css" />
<script src="https://maps.googleapis.com/maps/api/js?key={{ apiKey }}&libraries=places"
        async defer></script>
{% endblock %}

{% block javascript %}
<script src="{% load static %}{% static 'scripts/dist/company.create.js' %}" ></script>
{% endblock %}