{% extends "../../layouts/base.html" %} {% block contents %}
<div class="container top-level" id="company-select">
    <div>
        <h4 class="text-center">Select Companies</h4>
        <div>
            {% for company in companies %}
            <div class="row mb-2">
                <div class="card mx-auto col-4" @click="selectCompany('{{company.id}}')">
                    <div class="card-body">
                        <img src="https://via.placeholder.com/150" class="rounded-image mr-2"/> {{company.company_name}}
                    </div>
                </div>
            </div>       
            {% endfor %}
        </div> 
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{% load static %}{% static 'scripts/dist/company.select.js' %}" ></script>
{% endblock %}