{% extends "../../layouts/base.html" %} {% block contents %}
<div class="mt-2 container pb-3" id="company-show">
    <div class="row pt-5">
        <div class="col-md-12">
            
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title">{{company.company_name}} <i class="fas fa-check-circle text-blue ml-1"></i></h4>
                    <p>
                        <small>
                            <i class="far fa-building"></i> Restaurant and Cafe &#x25cf; <i class="fas fa-location-arrow"></i>
                            {{company.suburb}},
                            {{company.state}}
                        </small>
                    </p>
                </div>
            </div>
        </div>
        
    </div> 
    <div class="row">
        <div class="col-md-6 mt-3">
            
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title mb-3">Address</h5>
                        </div>
                        <div class="col-6">
                            <a href="#" class="btn btn-sm btn-primary" style="float:right;">Edit</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <p>{{company.address}}</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div style="width: 100%; height: 350px" id="mapContainer"></div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-6 mt-3">
            
            
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title mb-3">Business Information</h5>
                        </div>
                        <div class="col-6">
                            <a href="#" class="btn btn-sm btn-primary" style="float:right;">Edit</a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-6">
                            <p><strong>ABN</strong></p>
                            <p>{{company.abn}}</p>
                        </div>
                        <div class="col-6">
                            <p><strong><i class="fas fa-phone"></i> Phone Number</strong></p>
                            <p>{{company.phone_number}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p><strong><i class="fas fa-envelope-open"></i> Email</strong></p>
                            <p>{{company.business_email}}</p>
                        </div>
                        <div class="col-6">
                            <p><strong><i class="fas fa-fax"></i> Fax Number</strong></p>
                            <p>{{company.fax_number}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <p><strong><i class="fas fa-link"></i> Website</strong></p>
                            <p>{{company.website}}</p>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}

{% block styles %}
<link href='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.css' rel='stylesheet' />
<link href="{% load static %}{% static 'scripts/dist/native-toast.css' %}" rel="stylesheet" type="text/css" />
<script src='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
<script>
    window._mapbox_key = "{{MAPBOX_KEY}}"
</script>
{% endblock %}

{% block javascript %}
<script>
    // clean everything
    let lng = {{company.lng}}
    let lat = {{company.lat}}
    mapboxgl.accessToken = window._mapbox_key;
    let map = new mapboxgl.Map({
        container: 'mapContainer',
        center: [lng, lat],
        zoom: 16,
        hash: true,
        style: 'mapbox://styles/mapbox/streets-v10'
    });
    map.scrollZoom.disable();
    map.dragRotate.disable();
    map.dragPan.disable();
    map.doubleClickZoom.disable();
    map.touchZoomRotate.disable();
    
    let marker = new mapboxgl.Marker();
    marker.setLngLat([lng,lat]);
    marker.addTo(map);

    let successVerification = null;
    
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %} 
                {% if message.tags == 'success' %}
    successVerification = true;
                {% elif message.tags == 'error' %}
    successVerification = false;
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</script>
<script src="{% load static %}{% static 'scripts/dist/company.show.js' %}"></script>
{% endblock %}