.navbar-shadowless {
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0),
    0 3px 1px -2px rgba(255, 255, 255, 0), 0 1px 5px 0 rgba(255, 255, 255, 0) !important;
  background-color: #00bfa5 !important; 
}

body, h1, h2, h3, h4, h5, h6, p, a, button, li {
  /* testing font variance */
  font-family: "Poppins", sans-serif;
}

.nav-link {
  color: #fff !important;
  text-transform: none !important;
}

/* Small Mobile: S5 */
@media (min-height: 320px) and (max-height: 823px) {
  body {
    padding-top: 56px;
  }
}
/* desktop */
@media (min-width: 1200px) {
  body {
    padding-top: 60px;
  }
}
/* ipad */
@media (width: 768px) {
  body {
    padding-top: 60px;
  }
}
/* ipad and ipad pro */
@media (min-width: 1024px) and (min-height: 768px) {
  body {
    padding-top: 60px;
  }
}

.nav-link-dark {
  color: #000 !important;
}

.nav-link-dark.active {
  border-color: #f44336 !important;
  color: #f44336 !important;
}

.navbar-nav {
  width: 100% !important;
}

.top-level {
  margin-top: 3%;
}

.top-level-white {
  background-color: #fff;
}

.blue-card{
 color: #fff !important;
 background-color: #4FC3F7 !important;
}

.top-level-teal {
  background-color: #00bfa5;
  color: #fff !important;
}

.top-level-blue {
  background-color: #00bfa5;
  color: #fff !important;
}

.card-highlight {
  margin-top: 5px;
  margin-bottom: 5px;
}

.right-space {
  margin-right: 5%;
}

.right-space-sm {
  margin-right: 2%;
}

.row-clean {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.grey {
  color: #607d8b;
}

.row-lg-side-left {
  margin-left: 1.3%;
}

.btn-row {
  width: 100%;
}

.space {
  height: 70px;
}

.yellow {
  color: #ffc107;
}

.row-space {
  margin-top: 10px;
  margin-bottom: 10px;
}

.left-spanner {
  margin-left: 5px;
}

.left-md-spanner {
  margin-left: 10px;
}

.rounded-image {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.rounded-image-sm {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.rounded-image-lg {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.rounded-image-md {
  border-radius: 50%;
  width: 55px;
  height: 55px;
}

.md-content {
  max-height: 800px;
  overflow: auto;
}

.md-content img {
  max-width: 100%;
}

.md-content-core img {
  max-width: 100%;
}

.radio-inline {
  color: #000 !important;
  margin-left: 5px;
  margin-right: 5px;
}

.info-error {
  color: red;
}

.righter {
  float: right;
}

.icon-tab {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.icon-placeholder {
  padding: 0% !important;
}

.text-green {
  color: #4caf50 !important;
}

.text-blue {
  color: #03a9f4;
}

.text-blue-grey {
  color: #78909c;
}

.blue-badge {
  background-color: #03a9f4;
}

.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover {
  text-decoration: none;
  color: inherit;
}

.card:not(.custom-card) {
  border-color: #eceff1 !important;
  border-width: 0.5px !important;
}

.right-btn {
  float: right;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.stat-pills {
  background-color: #00bfa5;
  color: #fff;
  border-radius: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  /* max-width: 50%; */
}

/* .ripple-container {display: none !importantn;} */

.v-scrollable {
  overflow-y: scroll;
  max-height: calc(100vh - 4rem);
}

.v-inner-scrollable {
  overflow-y: scroll;
  max-width: 100%;
  overflow-x: hidden;
  max-height: 410px;
}

.list-group-item-heading {
  margin-bottom: 8px !important;
}

.m-sm {
  margin: 1%;
}

/* Important part */
.modal-dialog {
  overflow-y: initial !important;
}
.modal-body {
  max-height: 500px;
  overflow-y: auto;
}

.text-danger {
  color: #e53935;
}

.container-thin {
  /* margin-left: 3%;
    margin-right: 3%; */
}

.col {
  max-width: 50% !important;
}

.container-thin-xs {
  margin-left: 15px;
  margin-right: 15px;
}

.tabs.nav-link.active:not(.inline-nav-pills) {
  border-radius: 10px;
  background-color: #2196f3;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff !important;
}

.tabs.nav-link:not(.inline-nav-pills) {
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #2196f3 !important;
}

.header {
  border-bottom-style: solid;
  border-bottom-color: #e0e0e0;
  border-bottom-width: 0.5px;
  background-color: #fff;
}

.nav-body-tabs {
  border-bottom-style: solid;
  border-bottom-color: #e0e0e0;
  border-bottom-width: 0.5px;
  background-color: #fff;
}

.card-rounded {
  border-radius: 1em;
}

.col-section {
  border-left-style: solid !important;
  border-left-width: 0.25px !important;
  border-left-color: #607d8b !important;
}

@media (max-width: 414px) {
  .mt-new-2 {
    margin-top: 2px;
  }
}

.modal-content.rounded {
  border-radius: 1rem !important;
}

.modal-content {
  border-color: transparent !important;
}

.modal-header-neo {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  background-color: #00bfa5;
  color: #fff;
}

.paddingless {
  padding: 0px !important;
}

.blue-footer {
  background-color: #2196f3 !important;
  border-bottom-left-radius: 0.9rem !important;
  border-bottom-right-radius: 0.9rem !important;
  color: #fff;
}

.blue-footer-text {
  text-align: center;
}

.blue-footer-text a {
  color: #fff;
}

.blue-footer.card-link:hover {
  color: #fff !important;
}

.inline-nav-pills {
  color: #fff !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.btn-group.show .inline-nav-pills {
  background-color: #00bfa5 !important;
  border-radius: 10px !important;
}

.inline-group-nav-item {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  border-radius: 10px !important;
}

.green-tab {
  background-color: #00bfa5;
  border-radius: 10px;
}

.btn-primary,
.btn-primary:visited {
  background-color: #2196f3 !important;
  border-color: #2196f3 !important;
}

.btn-primary:hover,
.btn-primary:active {
  background-color: #0288d1 !important;
  border-color: #0288d1 !important;
}

.btn-success,
.btn-success:visited {
  background-color: #4caf50 !important;
  border-color: #4caf50 !important;
}

.btn-success:hover,
.btn-success:active {
  background-color: #388e3c !important;
  border-color: #388e3c !important;
}

.card.custom-card {
  border-color: transparent !important;
}

.bg-nav.active {
  border-radius: 10px !important;
  background-color: #00897b !important;
}

@media (min-width: 320px) and (max-width: 823px) {
  .bg-nav.active {
    padding-left: 3% !important;
    margin-right: inherit !important;
  }
}

.form-control {
  border-color: #cfd8dc;
  border-width: 0.5px !important;
}

textarea.form-control {
  height: 120px !important;
  resize: none !important;
}

.swal-button--danger {
  background-color: #e53935 !important;
}

.swal-button--confirm {
  background-color: #2196f3;
}

#utility.dropdown-toggle {
  color: #000 !important;
  background-color: #fff !important;
}

#utility::after {
  display: none;
}

.btn-constant {
  cursor: default !important;
  box-shadow: none !important;
}

.btn-outline-success.btn-constant:hover,
.btn-outline-success.btn-constant:focus,
.btn-outline-success.btn-constant:active,
.btn-outline-success.btn-constant:active:focus {
  color: #28a745 !important;
  background-color: transparent;
  background-image: none;
  border-color: #28a745;
}

.btn-outline-danger.btn-constant:hover,
.btn-outline-danger.btn-constant:focus,
.btn-outline-danger.btn-constant:active,
.btn-outline-danger.btn-constant:active:focus {
  color: #dc3545 !important;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.loading-parent {
  position: relative;
}


.disabled{
  color:#9E9E9E;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit !important;
}

.progress-text-linkable{
   cursor: pointer; 
}

#card-lookup{
  max-height: calc(100vh - 5rem);
}