<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Material Design for Bootstrap fonts and icons -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poppins|Material+Icons" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
        crossorigin="anonymous">

    <!-- Material Design for Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/shards-ui@latest/dist/css/shards.min.css">
    <link rel="stylesheet" type="text/css" href="{% load static %}{% static 'styles/css/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% load static %}{% static 'scripts/dist/vue-loader.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% load static %}{% static 'scripts/dist/native-toast.css' %}" />
    {% block styles %} {% endblock %}
    <title>Fullfil your business needs with Haiku</title>
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark navbar-shadowless">
        <a class="navbar-brand" href="/">Haiku</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item bg-nav {% if request.resolver_match.url_name == 'app.index'%}active{% endif %}">
                    <a class="nav-link" href="/">Browse Projects
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item bg-nav {% if request.resolver_match.url_name == 'request.index'%}active{% endif %}">
                    <a class="nav-link" href="/requests">Requests</a>
                </li>
                <li class="nav-item bg-nav {% if request.resolver_match.url_name == 'offer.index'%}active{% endif %} mr-auto">
                    <a class="nav-link" href="/offer">Offers</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{user}}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        {% if selected_company != None %}
                        <a class="dropdown-item" href="/company/{{selected_company.id}}">
                            <small class="text-muted"><strong>Company</strong></small>
                            <br/>
                            {{selected_company.company_name}}
                        </a>
                        {% endif %}
                        <a class="dropdown-item" href="/request/create">Create Request</a>  
                        <a class="dropdown-item" href="/company/change">Change Company</a>
                        <a class="dropdown-item" href="/company/create">Create Company Page</a>
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item bg-nav">
                    <a class="nav-link" href="/login/auth0">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <main role="main">
        {% block contents %} {% endblock %} {# {% include "./modal.html" %} {% block create_project %} {% endblock %} #}
    </main>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
    
    {% comment %} <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script> {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    {% comment %} <script src="https://unpkg.com/axios/dist/axios.min.js"></script>  {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% load static %}{% static 'scripts/dist/app.js' %}"></script> 
    {% block javascript %} {% endblock %}
</body>

</html>