{% block create_project %}
<!-- Modal -->
<div class="modal fade" id="create_project" tabindex="-1" role="dialog" aria-labelledby="create_project_label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="quick_request_form">
            <form method="POST" action="/create">
                <div class="modal-header">
                    <h5 class="modal-title" id="create_project_label">Post New Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="The request name">
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" placeholder="Describe your request" rows="4"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="url">Link</label>
                        <input type="text" class="form-control" id="url" name="url" placeholder="Request Link" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}