{% block modal %}
<!-- Modal -->
<div class="modal fade" id="create-offer" tabindex="-1" role="dialog" aria-labelledby="create-offer-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content rounded">
            <div class="modal-header modal-header-neo">
                <h5 class="modal-title" id="create-offer-label">Create Offer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="bid_price" class="bmd-label-floating">New Bid Price</label>
                    <input type="number" step="0.01" class="form-control" name="bid_price" id="bid_price" v-model="bid_price"/>         
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" v-on:click="submitOffer({{requestId}})">Submit Offer</button>
            </div>
        </div>
    </div>
    <template>
        <div class="loading-parent">
            <loading :active.sync="isLoading" 
                :can-cancel="false" 
                :is-full-page="true">
            </loading>
        </div>
    </template>
</div>
{% endblock %}