{% block lookup %}
<div class="card shadow-sm mb-1 mt-1" id="card-lookup">
    <div class="container">
        <div class="card-body">
            <h4 class="card-title">
                <strong>{% verbatim %}{{name}}{% endverbatim %}</strong>
            </h4>
            <p class="card-subtitle mb-2 text-muted pt-1 pb-1">
                <small>{% verbatim %}{{ created_at | moment("from", "now")}}{% endverbatim %}</small>
            </p>

            <div id="lookup">
                <div class="mt-2 mb-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link tabs" href="#about" v-bind:class="{active:about}" v-on:click="page(1)">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tabs" href="#offer" v-bind:class="{active:!about}" v-on:click="page(2)">Offers</a>
                        </li>
                        <li class="ml-auto nav-item" v-if="!closed_at">
                            <a class="nav-link tabs dropdown-toggle" id="utility" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right"  aria-labelledby="utility">
                                <a v-if="status.closable == false" href="#cancel-request" class="dropdown-item text-danger" v-on:click="cancelRequest">
                                    <i class="fas fa-times mr-2"></i> Cancel Request
                                </a>
                                <a v-else href="#close-request" class="dropdown-item text-danger" v-on:click="closeRequest">
                                    <i class="fas fa-times mr-2"></i> Close Request
                                </a>
                                <a href="#bulk-accept" class="dropdown-item text-green">
                                    <i class="fas fa-check mr-2"></i> Accept All
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="v-inner-scrollable">
                    <div v-if="about">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="container stat-pills">
                                    <p><strong>Views</strong></p>
                                    <h5>20</h5>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="container stat-pills">
                                    <p><strong>Offers</strong></p>
                                    <h5>15</h5>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="container stat-pills">
                                    <p><strong>Average Reputation</strong></p>
                                    <h5>10.93</h5>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">

                            <h6>Description</h6>
                            <p>{% verbatim %}{{description}}{% endverbatim %}</p>

                        </div>
                        <div class="mt-2">

                            <h6>Requirements</h6>
                            <div class="row">
                                <div class="col-md-6">
                                    <p>
                                        <strong>
                                            <i class="fas fa-dollar-sign"></i> Min Price
                                        </strong>
                                    </p>
                                    <p>{% verbatim %}${{min_price}}{% endverbatim %}</p>
                                </div>
                                <div class="col-md-6">
                                    <p>
                                        <strong>
                                            <i class="fas fa-dollar-sign"></i> Max Price
                                        </strong>
                                    </p>
                                    <p>{% verbatim %}${{max_price}}{% endverbatim %}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <p>
                                        <strong>
                                            <i class="fas fa-tachometer-alt"></i> Quantity
                                        </strong>
                                    </p>
                                    <p>{% verbatim %}{{quantity}} {{unit_of_measurement}}{% endverbatim %}</p>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <p>
                                        <strong>
                                            <i class="fas fa-location-arrow"></i> Service Coverage
                                        </strong>
                                    </p>
                                    <p>{% verbatim %}{{service_coverage}}{% endverbatim %}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <p>
                                        <strong>
                                            <i class="far fa-clock"></i> Valid Until
                                        </strong>
                                    </p>
                                    <p>{% verbatim %}{{valid_until}}{% endverbatim %}</p>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <p>
                                        <strong>
                                            <i class="fas fa-file-contract"></i> Contract Type
                                        </strong>
                                    </p>
                                    <p>{% verbatim %}{{contract}}{% endverbatim %}</p>
                                </div>
                            </div>

                        </div>
                        <div class="mt-2">

                            <h6>Additional Requirements</h6>
                            <p>{% verbatim %}{{additional_requirements}}{% endverbatim %}</p>

                        </div>
                    </div>
                    <div v-else>
                        {% include "./offers_lookup.html" %} {% block offers_lookup %} {% endblock %}
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>


{% endblock %}