{% block lookup %}
<ul class="list-group list-group-flush">
    <li class="list-group-item flex-column align-items-start" v-for="offer in offers">
        <div class="d-flex">
            
            <div class="row  w-100">
                <div class="ml-auto mr-auto">
                    <input type="checkbox" class="mt-3" v-if="(offer.is_accepted == false && offer.status.id!=5)">
                </div>
                <div class="col-md-1">
                    <img src="{% load static %}{% static 'images/company.jpeg' %}" class="rounded-image-md">
                </div>
                <div class="col-md-4 ml-auto">
                    <h5 class="mb-1">
                        Graphica
                    </h5>
                    <span class="text-muted"><small>11,090 Points &#x25cf; {% verbatim %}{{ offer.created_at | moment("from", "now")}}{% endverbatim %}</small></span>
                </div>
                <div class="col-md-2 ml-auto">
                    <span class="text-green">Bid Price</span>
                    <br/>
                    <span class="text-muted">${% verbatim %}{{offer.bid_price}}{% endverbatim %}</span>
                </div>
                <div class="col-md-2 ml-auto mr-auto">
                    <span style="color:#EC407A">Status</span>
                    <br/>
                    <span class="text-muted">{% verbatim %}{{offer.status.status}}{% endverbatim %}</span>
                </div>
                <div class="col-md-2 ml-auto mt-2">
                    <div class="pull-xs-right " v-bind:class="{'btn-group': (offer.is_accepted == false && offer.status.id !=5)}">
                        <button class="btn btn-outline-info btn-sm" style="margin-right:0px;" v-on:click="view(offer.id)">
                            View Offer
                        </button>
                        <button class="btn btn-outline-info btn-sm dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" id="action-buttons-1" v-if="(offer.is_accepted == false && offer.status.id!=5)">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="action-buttons-1" role="menu" style="width:190px;">
                            <li class="dropdown-item text-green"  v-on:click="acceptOffer(offer.id)"><i class="fas fa-check"></i> Accept Offer</li>
                            <li class="dropdown-item text-danger" v-on:click="rejectOffer(offer.id)"><i class="far fa-times-circle"></i> Reject Offer</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            
            
        </div>
    </li>
</ul>
{% endblock %}