{% block modal %}
<!-- Modal -->
<div class="modal fade" id="offer-version-modal" tabindex="-1" role="dialog" aria-labelledby="offers-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content rounded">
            <div class="modal-header modal-header-neo">
                <h5 class="modal-title" id="offers-modal-label">Add New Version</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><strong>Current Bid Price:</strong> <span class="text-green">{% verbatim %}{{current_bid}}{% endverbatim %}</span><p>
                <div class="form-group">
                    <label for="bid_price" class="bmd-label-floating">New Bid Price</label>
                    <input type="number" step="0.01" class="form-control" name="bid_price" id="bid_price" v-model="bid_price"/>         
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" v-on:click="create_version">Submit Version</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}