{% extends "../../layouts/base.html" %} {% block contents %}
<div id="offers">
    <div class="pb-4 pt-4 top-level-teal d-none d-md-block">
         <div class="container mt-2">
            <h4>Your Offers</h4>
            <div class="row mt-4">
                <div class="col-md-4">
                    <div class="card custom-card shadow-sm card-rounded mr-2" style="background-color:#EC407A;color:#fff;">
                        <div class="card-body">
                            <h5 class="card-title">Success Rate</h5>
                            <h4><strong>80%</strong></h4>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card custom-card shadow-sm card-rounded mr-2" style="background-color:#EC407A;color:#fff;">
                        <div class="card-body">
                            <h5 class="card-title">Sent Offers</h5>
                            <h4><strong>25</strong></h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card custom-card shadow-sm card-rounded mr-2" style="background-color:#EC407A;color:#fff;">
                        <div class="card-body">
                            <h5 class="card-title">Average Bid Price</h5>
                            <h4><strong>$206.5</strong></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="ml-auto d-inline" style="float:right;">
                    <button class="btn btn-light d-inline"><i class="fas fa-sort"></i> Sort</button>
                    <button class="btn btn-light d-inline"><i class="fas fa-filter"></i> Filter</button>
                </div>
              
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="col-md-12">
            {% for offer in offers%}
            <div class="row mb-2">
                <div class="card shadow-sm card-rounded col-sm-12 col-md-12 col-lg-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-1 col-md-2 d-none d-md-block">
                                <img src="{% load static %}{% static 'images/company.jpeg' %}" class="rounded-image-md" style="border-style:solid;">
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-12">
                                <h5 class="card-title">{{offer.project.name}}</h5>     
                                <span class="text-blue-grey"><small>{% load humanize %} {{offer.created_at | naturaltime}}</small></span>
                            </div>
                            <div class="col-md-5 col-lg-5 col-sm-12 mt-2">
                                <div class="row">
                                    <div class="ml-auto mr-auto">
                                        <h6><i class="fas fa-check-circle"></i> Status</h6>
                                        <span class="text-muted" id="status-{{offer.id}}">{{offer.status.status}}</span>
                                    </div>
                                    <div class="ml-auto mr-auto">
                                        <h6><i class="fas fa-dollar-sign"></i> Bid Price</h6>
                                        <span class="text-blue" id="current_bid-{{offer.id}}">${{offer.bid_price}}</span>
                                    </div>
                                    <div class="ml-auto mr-auto">
                                        <h6>Budget</h6>
                                        <span class="text-green">$200 - $300</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 col-lg-1 col-sm-12 mt-2">
                                {% if offer.is_accepted == False and offer.status.id != 5 %}
                                <div class="btn-group">
                                    <button class="btn btn-sm btn-primary" v-on:click="addVersionModal({{offer.id}})" data-toggle="modal" data-target="#offer-version-modal">Update</button>
                                    <button class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" id="action-buttons-1">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="action-buttons-1" role="menu" style="width:190px;">
                                        <a class="dropdown-item text-blue" href="/offer/{{offer.id}}/view"><i class="far fa-eye mr-2"></i>
                                            View Detail
                                        </a>
                                        <a class="dropdown-item text-danger" v-on:click="retractOffer({{offer.id}})" href="#retractOffer"><i class="far fa-times-circle mr-2"></i>
                                            Retract Offer
                                        </a>
                                    </div>
                                </div>
                                {% else %}
                                <a class="btn btn-primary" href="/offer/{{offer.id}}/view">View Detail </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    {% include "./appends/modal.html" %} {% block modal %} {% endblock %}
    <template>
       <div class="loading-parent">
        <loading :active.sync="isLoading" 
            :can-cancel="false" 
            :is-full-page="true">
        </loading>
       </div>
    </template>
    
</div>


{% endblock %}
{% block javascript %}

<script src="{% load static %}{% static 'scripts/dist/offers.index.js' %}"></script> 

{% endblock %}