{% extends "../../layouts/base.html" %} {% block contents %}
<div id="offer-side">
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mt-4 mb-4">
                        <div class="row">
                            <div class="col-lg-1 col-md-2 col-sm-3 mb-2">
                                <img src="{% load static %}{% static 'images/company.jpeg' %}" class="rounded-image-lg" style="border-style:solid;">
                            </div>
                            <div class="col-lg-11 col-md-10 col-sm-9">
                                <div class="mb-2">
                                    <h4>Two Mates Media Pty Ltd</h4>
                                    <span class="text-muted"><small>10,001 points &#x25cf; <i class="far fa-building"></i>
                                            Brisbane, Australia
                                        </small></span>
                                    <br/> {% load humanize %}
                                    <span class="text-muted"><small>{{offer.created_at | naturaltime }}</small></span>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        {% if not offer.is_accepted and offer.status.id != 5 %}
                                        <div class="btn-group mr-auto">
                                            <button class="btn btn-success" style="margin-right:0px;" v-on:click="acceptOffer({{offer.id}})">
                                                <i class="fas fa-check"></i> Accept Offer
                                            </button>
                                            <button class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false" id="action-buttons-1">
                                                <span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="action-buttons-1" role="menu" style="width:190px;">

                                                <div class="dropdown-item text-danger" href="#" v-on:click="rejectOffer({{offer.id}})"><i class="far fa-times-circle mr-2"></i>
                                                    Reject Offer
                                                </div>
                                            </div>
                                        </div>
                                        {% elif not offer.is_accepted and offer.status.id == 5 %}
                                        <button class="btn btn-outline-danger btn-constant mr-2" style="margin-right:0px;">
                                            <i class="far fa-times-circle mr-2"></i> Offer Rejected
                                        </button>
                                        {% else %}
                                        <button class="btn btn-outline-success btn-constant mr-2" style="margin-right:0px;">
                                            <i class="fas fa-check"></i> Offer Accepted
                                        </button>
                                        {% endif %}
                                        <button class="btn btn-outline-primary">View Profile</button>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="nav-body-tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="mt-2 mb-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link tabs" href="#offer" v-bind:class="{active:selectedPage=='offer'}" v-on:click="page(1)">Offer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link tabs" href="#version" v-bind:class="{active:selectedPage=='version'}" v-on:click="page(2)">Version</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link tabs" href="#discussion" v-bind:class="{active:selectedPage=='discussion'}" v-on:click="page(3)">Discussion</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="container mt-3">
            <div v-if="selectedPage=='offer'">
                <div class="card shadow card-rounded">
                    <div class="card-body">
                        <!-- <h5 class="card-title">card shadow title</h5> -->
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <p><strong><i class="fas fa-briefcase"></i> Project</strong></p>
                                <p>{{offer.project.name}} (ID: {{offer.project.id}})</p>
                                <p><strong><i class="fas fa-dollar-sign"></i> Bid Price</strong></p>
                                <p>$ {{offer.bid_price}}</p>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <p><strong><i class="fas fa-hashtag"></i> Version</strong></p>
                                <p>{{versions.count}}</p>
                                <p><strong><i class="fas fa-check"></i> Accepted</strong></p>
                                <p>{{offer.is_accepted}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="selectedPage=='version'">
                <div class="row">
                    {% for version in versions.all %}
                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="card shadow card-rounded mb-2">
                            <div class="card-body">
                                <h5 class="card-title">Version #{{version.id}}</h5>
                                {% load humanize %}
                                <p class="card-subtitle mb-2 pt-2 text-muted"><small>{{version.created_at | naturaltime}}</small></p>
                                <p class="card-text"><strong><i class="fas fa-dollar-sign"></i> Bid Price</strong></p>
                                <p>$ {{version.bid_price}}</p>
                                <a href="#">Review Version</a>
                                <!-- <a href="#" class="card-link">Another link</a> -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>
    <template>
       <div class="loading-parent">
        <loading :active.sync="isLoading" 
            :can-cancel="false" 
            :is-full-page="true">
        </loading>
       </div>
    </template>
</div>
{% endblock %}{% block javascript %}
<script src="{% load static %}{% static 'scripts/dist/offers.partial.js' %}"></script> {% endblock %}