{% extends "../../layouts/base.html" %} {% block contents %}
<div id="offer-side">
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mt-4 mb-4">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="mb-2">
                                    <h4>{{offer.project.name}}</h4>
                                    <div class="mt-2">
                                        <img src="{% load static %}{% static 'images/company.jpeg' %}" class="rounded-image-sm">
                                        <span>Two Mates Media Pty Ltd</span>
                                    </div>
                                    {% load humanize %}
                                    <span class="text-muted"><small>{{offer.created_at | naturaltime }}</small></span>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="nav-body-tabs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mt-2 mb-2">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link tabs" href="#offer" v-bind:class="{active:selectedPage=='offer'}" v-on:click="page(1)">Offer</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link tabs" href="#version" v-bind:class="{active:selectedPage=='version'}" v-on:click="page(2)">Version</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link tabs" href="#discussion" v-bind:class="{active:selectedPage=='discussion'}" v-on:click="page(3)">Discussion</a>
                            </li>
                            <li class="nav-item green-tab ml-auto">
                                {% if offer.status.id != 3 and offer.status.id != 5 %}
                                <div class="btn-group inline-group-nav-item">
                                    <a class="nav-link tabs inline-nav-pills" href="/request/{{offer.project.id}}">
                                        View Request
                                    </a>
                                    <a class="nav-link tabs inline-nav-pills dropdown-toggle dropdown-toggle-split" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" style="width:10.5rem!important;" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#offer-version-modal" data-toggle="modal" v-on:click="addVersionModal({{offer.id}})">
                                            <i class="fas fa-plus mr-2"></i> Add Version
                                        </a>
                                        <a class="dropdown-item text-danger" href="#retractOffer" v-on:click="retractOffer({{offer.id}})">
                                            <i class="far fa-times-circle mr-2"></i> Retract Offer
                                        </a>
                                    </div>
                                </div>
                                {% else %}
                                <div class="inline-group-nav-item">
                                    <a class="nav-link tabs inline-nav-pills" href="/request/{{offer.project.id}}">
                                        View Request
                                    </a>
                                </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <section>
        <div class="container mt-3">
            <div v-if="selectedPage=='offer'">
                <div class="card shadow card-rounded">
                    <div class="card-body">
                        <!-- <h5 class="card-title">card shadow title</h5> -->
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <p><strong><i class="fas fa-briefcase"></i> Request</strong></p>
                                <p>{{offer.project.name}} (ID: {{offer.project.id}})</p>
                                <p><strong><i class="fas fa-dollar-sign"></i> Bid Price</strong></p>
                                <p>$ {{offer.bid_price}}</p>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <p><strong><i class="fas fa-hashtag"></i> Version</strong></p>
                                <p>{{versions.count}}</p>
                                <p><strong><i class="fas fa-check"></i> Accepted</strong></p>
                                <p>{{offer.is_accepted}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="selectedPage=='version'">
                <div class="row">
                    {% for version in versions.all %}
                    <div class="col-md-4 col-sm-12 mb-3">
                        <div class="card shadow card-rounded mb-2">
                            <div class="card-body">
                                <h5 class="card-title">Version #{{version.id}}</h5>
                                {% load humanize %}
                                <p class="card-subtitle mb-2 pt-2 text-muted"><small>{{version.created_at | naturaltime}}</small></p>
                                <p class="card-text"><strong><i class="fas fa-dollar-sign"></i> Bid Price</strong></p>
                                <p>$ {{version.bid_price}}</p>
                                <a href="#">Review Version</a>
                                <!-- <a href="#" class="card-link">Another link</a> -->
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>
    {% include "./appends/modal.html" %} {% block modal %} {% endblock %}
    <template>
       <div class="loading-parent">
        <loading :active.sync="isLoading" 
            :can-cancel="false" 
            :is-full-page="true">
        </loading>
       </div>
    </template>
</div>
{% endblock %}
{% block javascript %}
<script>
    let bidPrice = {{offer.bid_price}};
</script>
<script src="{% load static %}{% static 'scripts/dist/offers.functions.js' %}"></script>  {% endblock %}